* {
    box-sizing: border-box;
  }
.navbar {
    background-color: #e3f2fd;
}
body {
    background-color: seagreen;
    color: black;
}

.container {
    background-color: palegreen;
    margin-top: 40px;
}
.table {
    color: black;
}

#other-content {
    margin-bottom: 20px;
}

.imageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s;
}

.imageOverlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imageOverlay:hover {
  opacity: 1;
}

.imageOverlay:hover > * {
  transform: translateY(0);
}

.imageOverlayTwo {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s;
}

.imageOverlayTwo > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imageOverlayTwo:hover {
  opacity: 1;
}

.imageOverlayTwo:hover > * {
  transform: translateY(0);
}

.imageOverlayThree {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.25s;
}

.imageOverlayThree > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imageOverlayThree:hover {
  opacity: 1;
}

.imageOverlayThree:hover > * {
  transform: translateY(0);
}

.imageTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

/*#projectOne:hover {
  opacity: 0.5;
}*/

@media screen and (max-width: 992px) {

    #other-content {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .container {
        width: 100%;
    }
  
    #other-content {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
  
  }

